<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My First Heading</h1>
    <p>My First Paragraph</p>
    <img
            src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/9cd92234-709a-49b6-afde-96169ea3a343"/>
</body>
</html>